<!DOCTYPE html>
<html>
	<head>
		<!-- Favicon-->
		<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">

		<!-- <link rel="stylesheet" href="/static/index.css"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

		 <!-- Custom fonts for this template-->
		 <link
			 href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			 rel="stylesheet">
	 
		 <!-- Custom styles for this template-->
		 <link rel="stylesheet" href="/static/sb-admin-2.min.css">
		 <!-- <link rel="stylesheet" href="/static/index.css"> -->
		 <title>
			WattWise
		</title>
	</head>
	
	<body id="page-top" onload="update_values();">

		<!-- Main Content-->
		<div is="wrapper">

			<div id="content-wrapper" class="d-flex flex-column">

				<div id = "content">
					<!-- Topbar -->
					<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
						<!-- Page Heading -->
						<img class="img-fluid" src="/static/images/wattwise.png" alt="Logo" style="width: 200px; height: auto;">
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

					
							<div class="topbar-divider d-none d-sm-block"></div>
		
							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>
									<img class="img-profile rounded-circle"
										src="/static/undraw_profile.svg">
								</a>

								<!-- Dropdown - User Information -->
								<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
									aria-labelledby="userDropdown">
									<!-- <a class="dropdown-item" href="#">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										Profile
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Settings
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a> -->
									<!-- <div class="dropdown-divider"></div> -->
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</a>
								</div>
							</li>
					</nav>
				</div>
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- PredictionCards Row -->
					<div class = "row">
						<!-- Daily Consumption Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
													Daily Usage</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id = "daily"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-calendar fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Earnings (Monthly) Card Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-success shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
													Daily Usage Prediction</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id = "prediction"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Earnings (Monthly) Card Example -->
							<div class="col-xl-3 col-md-6 mb-4">
								<div class="card border-left-info shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
													Region Prediction</div>
												<div class="h5 mb-0 font-weight-bold text-gray-800" id = "region"></div>
											</div>
											<div class="col-auto">
												<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
											</div>
										</div>
									</div>
								</div>
							</div>

							
	
					</div>

					<!-- Charts Row -->
					<div class="row">
						<div class="col-xl-8 col-lg-7">

							<!-- Electric Chart -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Electricity</h6>
									
									<select id = "viewBy" name = "setViewBy" onchange="changeView()">
										<option value="daily">Daily</option>
										<option value="weekly">Weekly </option>
										<option value="monthly">Monthly</option>
									</select>
									
								</div>
								<div class="card-body">
									<div class="chart-area" style="position: relative; height: 100%; width: 100%;">
										<canvas id="myChart"></canvas>
									</div>
								</div>
							</div>
						</div>


						<!-- Pie Chart -->
						<div class="col-xl-4 col-lg-5">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Comparison</h6>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-pie">
										<canvas id="comparisonChart"></canvas>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>

					<div class="row">
						<div class="col-xl-8 col-lg-7">

							<!-- Prediction Chart -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Prediction Usage for next 24 hours</h6>
									
								</div>
								<div class="card-body">
									<div class="chart-area" style="position: relative; height: 100%; width: 100%;">
										<canvas id="myChart2"></canvas>
									</div>
									<hr>
								</div>
							</div>
						</div>

							<!-- Log -->
							<div class="col-xl-4 col-lg-5">
								<div class="card shadow mb-4">
									<!-- Card Header - Dropdown -->
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">Log</h6>
									</div>
									<!-- Card Body -->
									<div class="card-body">
										<div class="chart-pie">
											<textarea id="readings"cols="35" rows = "10"></textarea></textarea>
										</div>
										
									</div>
								</div>
							</div>


					</div>

					<div class="row">
						<div class="col-xl-8 col-lg-7">

							<!-- Other household Chart -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Prediction Usage for region household</h6>
								</div>
								<div class="card-body">
									<div class="chart-area" style="position: relative; height: 100%; width: 100%;">
										<canvas id="myChart3"></canvas>
									</div>
							
								</div>
							</div>
						</div>

						
					</div>

				</div>
				<!-- /.container-fluid -->
			</div>
			

			<!--<div class = "dataDisplay">
				<p>Readings</p>
				<textarea id="readings" cols="70" rows = "10"></textarea>
				<H2>Electric usage</H2>
				<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
			
			</div> -->
			
		</div>

		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="{{ url_for('login') }}">Logout</a>
					</div>
				</div>
			</div>
    	</div>

		<!-- Custom scripts for all pages-->
		<script src="/static/sb-admin-2.min.js"></script>

		<!-- Bootstrap core JavaScript-->
		<script src="/static/vendor/jquery/jquery.min.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
		<!-- Core plugin JavaScript-->
		<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
	</body>

	<script type="text/javascript" charset="utf-8">
		//Chart 1
		var dateTime;
		var powerConsumption;

		//Chart 2
		var dateTime2;
		var ownPrediction;

		//Chart 3
		var dateTime3;
		var householdTypePrediction;

		var lastestData = [];

		var daily = 0 ;
		var prediction =0;
		var areaPrediction=0;

		var count = 0;

		//JQuery to get data from flask API
		function update_values(){
			$.getJSON('/getPastUsage',
			function(data){
				for (let i in data){
					powerConsumption = data[i].electricity;
					dateTime = data[i].timestamp;
					// console.log("Past Consumption: " + powerConsumption);

					$('#readings').val($('#readings').val() + dateTime +": "+powerConsumption+"\n");
					$('#readings').scrollTop($('#readings').scrollHeight);

					chart.data.labels.push(dateTime);
					chart.data.datasets.forEach((dataset) => {
						dataset.data.push(powerConsumption);
					});
					chart.update();

					count++

					if(count < 24){
						daily += powerConsumption;
					}

				}

				count = 0;
				document.getElementById('daily').innerHTML = daily;

				lastestData.push(data[0].electricity);

			});

			$.getJSON('/getPrediction',
			function(predictedData){
				var ownUsage = predictedData.ownUsage;
				var regionHouseholdUsage = predictedData.regionHouseholdUsage;

				for (let j in ownUsage){
					ownPrediction = ownUsage[j].electricity;

					dateTime2 = ownUsage[j].timestamp;
					// console.log("Own Prediction: " + ownPrediction);

					$('#readings').val($('#readings').val() + dateTime +": "+ownPrediction+"\n");
					$('#readings').scrollTop($('#readings').scrollHeight);

					chart2.data.labels.push(dateTime2);
					chart2.data.datasets.forEach((dataset) => {
						dataset.data.push(ownPrediction);
						//dataset.data.push(householdTypePrediction);

					});
					chart2.update();

					if(count < 24){
						prediction += ownPrediction;
					}
				}

				count = 0;
				document.getElementById('prediction').innerHTML = prediction;


				lastestData.push(ownUsage[0].electricity);


				for (let k in regionHouseholdUsage){
					householdTypePrediction = regionHouseholdUsage[k].electricity;
					dateTime3 = regionHouseholdUsage[k].timestamp;
					// console.log("HouseHold: " + householdTypePrediction);

					$('#readings').val($('#readings').val() + dateTime +": "+householdTypePrediction+"\n");
					$('#readings').scrollTop($('#readings').scrollHeight);

					chart3.data.labels.push(dateTime3);
					chart3.data.datasets.forEach((dataset) => {
						dataset.data.push(householdTypePrediction);
					});
					chart3.update();

					if(count < 24){
						areaPrediction += householdTypePrediction;
					}
				}
				
				count = 0;

				document.getElementById('region').innerHTML = areaPrediction;

				lastestData.push(regionHouseholdUsage[0].electricity);


			});
			
			
			// count++;
			// if(count >= 10){
			// 	document.getElementById('readings').value = '';
			// 	count = 0;
			// }
		};

		var viewBy = document.getElementById('viewBy');

		function changeView(){
			var dataSize = 24*30;
			$.post("/home", {"viewBy": viewBy.value})

			for (let i = 0; i < dataSize; i++){
				chart.data.labels.pop();
				chart.data.datasets.forEach((dataset) => {
					dataset.data.pop();
				});
				chart.update();

			}

			$.getJSON('/getPastUsage',
			function(data){
				for (let i in data){
					powerConsumption = data[i].electricity;
					dateTime = data[i].timestamp;
					// console.log("Past Consumption: " + powerConsumption);

					$('#readings').val($('#readings').val() + dateTime +": "+powerConsumption+"\n");
					$('#readings').scrollTop($('#readings').scrollHeight);

					chart.data.labels.push(dateTime);
					chart.data.datasets.forEach((dataset) => {
						dataset.data.push(powerConsumption);
					});
					chart.update();

				}
				
				lastestData.push(data[0].electricity);

			});

		}
		
		var ctx = document.getElementById('myChart');		
		var ctx2 = document.getElementById('myChart2');
		var ctx3 = document.getElementById('myChart3');	
		var ctx4 = document.getElementById('comparisonChart');	

		
		//Past usage Chart
		var chart = new Chart(ctx, {
			type: "line",
			data: {
				labels: [powerConsumption],
				datasets: [{
					fill: false,
					lineTension: 0,
					backgroundColor: "rgba(0,0,255,1.0)",
					borderColor: "rgba(0,0,255,1.0)",
					data: [dateTime]
				}] 
			},
			options: {
				legend: {display: false},
				scales: {
					xAxes:[{autoSkip: true,
						maxTicksLimit: 10}],
					yAxes: [
						{ticks: {beginAtZero: true}}
					],
				
				}
			}
		});

		//Prediction usage chart
		var chart2 = new Chart(ctx2, {
		type: "line",
		data: {
			labels: [ownPrediction],
			datasets: [{
				fill: false,
				lineTension: 0,
				backgroundColor: "rgba(255,0,0,1.0)",
				borderColor: "rgba(255,0,0,1.0)",
				data: [dateTime]
			},{
				fill: false,
				lineTension: 0,
				backgroundColor: "rgba(0,255,0,1.0)",
				borderColor: "rgba(0,0,255,1.0)",
				data: [dateTime2]
			}]
		},
		options: {
			legend: {display: false},
			scales: {
				xAxes:[{autoSkip: true,
					maxTicksLimit: 10}],
				yAxes: [
					{ticks: {beginAtZero: true}}
				],
			
			}
		}
		});

		//Prediction usage chart
		var chart3 = new Chart(ctx3, {
		type: "line",
		data: {
			labels: [householdTypePrediction],
			datasets: [{
				fill: false,
				lineTension: 0,
				backgroundColor: "rgba(0,255,0,1.0)",
				borderColor: "rgba(0,0,255,1.0)",
				data: [dateTime3]
			}]
		},
		options: {
			legend: {display: false},
			scales: {
				xAxes:[{autoSkip: true,
					maxTicksLimit: 10}],
				yAxes: [
					{ticks: {beginAtZero: true}}
				],
			
			}
		}
		});

		
		// For a pie chart
		var myPieChart = new Chart(ctx4, {
			type: 'pie',
			data: {
				datasets: [{
					data: lastestData,
					backgroundColor: ['rgba(200, 0, 0, 0.5)', 'rgba(0, 200, 0, 0.5)', 'rgba(0, 0, 200, 0.5)']
				}],

				labels:[
					'Predicted',
					'Region Households',
					'Current'
				],

				options: {
					cutoutPercentage: 0,
					rotation: 0,
					circumference: 10

				}
					
				
			}
		});

		//setInterval(update_values,1500);
	</script>

	
</html>
